<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title},~{::script})}">

<head>

  <title>COntact Page</title>
</head>

<body>
  <div id="content">
    <h1>Welcome to Contact page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ex possimus, at voluptas consequuntur distinctio
      corporis iure laboriosam iste ipsa vel, saepe velit sequi architecto aut, numquam maiores accusamus temporibus!
    </p>
  </div>

  <script>
    console.log("i am working in Conact page");
  </script>

</body>

</html>